parameters:
	ignoreErrors:
	    -
	        message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
	        count: 2
	        path: ./src/DependencyInjection
	    -
	        message: '#.*NodeParentInterface|null.*#'
	        count: 1
	        path: ./src/DependencyInjection
	    -
	        message: '#.*getDatabaseName\(\) should return string but returns mixed.#'
	        count: 2
	        path: ./src/Database/Manager
	    -
	        message: '#.* of method BehatDoctrineFixtures\\Database\\Manager\\ConsoleManager\\PostgreConsoleManager::createDump\(\) expects string, mixed given.#'
	        count: 2
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
	    -
	        message: '#.* of method BehatDoctrineFixtures\\Database\\Manager\\ConsoleManager\\PostgreConsoleManager::createDump\(\) expects int, mixed given.#'
	        count: 1
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
	    -
	        message: '#.* of method BehatDoctrineFixtures\\Database\\Manager\\ConsoleManager\\PostgreConsoleManager::createDump\(\) expects string\|null, mixed given.#'
	        count: 1
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
	    -
	        message: '#.* of method BehatDoctrineFixtures\\Database\\Manager\\ConsoleManager\\PostgreConsoleManager::loadDump\(\) expects string, mixed given.#'
	        count: 2
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
	    -
	        message: '#.* of method BehatDoctrineFixtures\\Database\\Manager\\ConsoleManager\\PostgreConsoleManager::loadDump\(\) expects string\|null, mixed given.#'
	        count: 1
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
	    -
	        message: '#.* of method BehatDoctrineFixtures\\Database\\Manager\\ConsoleManager\\PostgreConsoleManager::loadDump\(\) expects int, mixed given.#'
	        count: 1
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
	    -
	        message: '#.* of function sprintf expects bool\|float\|int\|string\|null, mixed given.#'
	        count: 1
	        path: ./src/Database/Manager/PostgreSQLDatabaseManager.php
