includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src/
    ignoreErrors:
        - '#Offset (.*)? does not exist on array\{(.*)?\}.#'
